.button_cont{
  margin-left:44%;
  margin-top:100px;
  position:absolute;
}


.body{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGy9eaWqk0PlvW-wTG3YCMr8HcJMCUGLc7CA&s') ;
  height:800px;
}
#tweet_sect {
  margin-top:10px;
  margin-left:70px;
}
 .container{
        background-image:url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?ga=GA1.1.1885524020.1732594702&semt=ais_hybrid');
        border-radius:15px;
 padding:30px;
    width:700px;
    height:200px;
    background-size: cover;
    background-position:center;
     font-family: "Sans-serif";
     font-weight:bold;
    font-size: 20px;
    align-items: center;
    margin:40px;
        top:30%;
        justify-content:center;
        
    }
 .fa {
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  align-items:center;
  padding:0px;
  margin:20px;
}
.p1{
     font-family: "Sans-serif";
    font-size: 20px;
    align-items: center;
    margin:40px;
        top:30%;
        justify-content:center;
        color:white;
        font-weight:bold;
}





